# compiled files
*.pyc

# log files
*.log

# test coverage metrics
.coverage
htmlcov/

# information to hide from github
settings_secret.py

# database for testing (python manage.py dumpdata --natural-foreign --indent 4 -e sessions -e admin -e contenttypes -e auth.Permission > testdb.json)
testdb.json

# scripts for initializing database vocabulary
noun_import.py
nouns.csv
db_imports/

# virtual environment for required packages
env/

# server-only files (use these commands to move /deutsch/static/ files into /static/)
# > source env/bin/activate
# > python manage.py collectstatic
# > deactivate
dispatch.fcgi
.htaccess
/static/

# ignoring font awesome, uploaded to server /static/ manually
/deutsch/static/*
!/deutsch/static/images/
!/deutsch/static/css/

# cleaning up migrations:
#   python manage.py makemigrations
#   python manage.py showmigrations
#   python manage.py migrate --fake deklination zero
#   python manage.py migrate --fake progress zero
#   delete deklination/migrations/*.py? (not including __init__.py)
#   delete progress/migrations/*.py? (not including __init__.py)
#   python manage.py makemigrations
#   python manage.py migrate --fake-initial

