{% extends "index.html" %}

{% block lead %}{% endblock lead %}
{% block content %}

<div class="container">

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% endif %}
{% endif %}


<form class="form-signin pt-5 mt-5" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal text-center">Please Sign In</h1>
  <label for="id_username" class="sr-only">Username</label>
  <input type="text" name="username" id="id_username" maxlength="254" class="form-control" placeholder="Username" required autofocus />
  <label for="id_password" class="sr-only">Password</label>
  <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required />
  <button id="signin" class="btn btn-lg btn-primary btn-block mt-2" type="submit" value="login">Sign in</button>
  <input type="hidden" name="next" value="{{ next }}" />
</form>

</div>

{% endblock %}
