{% extends "index.html" %}

{% block title %}<title>Sign In - Deutsche Grammatik</title>{% endblock title%}
{% block lead %}{% endblock lead %}
{% block content %}

<!--
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4 pt-4">Sign In</h1>
</div>
-->

<div class="container">

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% endif %}
{% endif %}


<form class="form-signin pt-5 mt-5" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="id_username" class="sr-only">Username</label>
  <input type="text" name="username" id="id_username" maxlength="254" class="form-control" placeholder="Username" required autofocus />
  <label for="id_password" class="sr-only">Password</label>
  <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required />
  <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Sign in</button>
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<!--
<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
-->

{# Assumes you setup the password_reset view in your URLconf #}
<!--<p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->

</div>

{% endblock %}
