{% extends "index.html" %}

    {% block lead-title %}Change Password{% endblock lead-title %}
    {% block lead-content %}Use the form below to change your password.{% endblock lead-content %}

    {% block content %}

      <div class="my-3 p-3 bg-white rounded box-shadow">
        <form class="form-signin" method="post" action="{% url 'change_password' %}">
          {% csrf_token %}
          <!--{ form }-->
          {% if form.errors %}
            <div id="form_error" class="text-danger">There were error(s) with your submission.</div>
          {% endif %}

          {% for field in form %}
            <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
            <input type="password" 
              name="{{ field.html_name }}" 
              id="{{ field.id_for_label }}" 
              maxlength="30" 
              class="form-control{% if field.html_name == 'old_password' %} input-select{% endif %}" 
              placeholder="{{ field.label }}{% if not field.field.required %} (Optional){% endif %}" 
              {% if field.field.required %} required {% endif %} 
              {% if field.html_name == 'old_password' %} autofocus {% endif %} />
              {% if field.errors %}<div id="{{ field.id_for_label }}_error" class="text-danger">{% for error in field.errors %} {{ error }}{% endfor %}</div>{% endif %}
          {% endfor %}
          <button id="update_password" class="btn btn-lg btn-primary btn-block mt-2" type="submit">Update Password</button>
        </form>
      </div>

    {% endblock content %}

    {% block extra-content %}{% endblock extra-content %}

