    {% extends "index.html" %}
    {% load staticfiles %}

    {% block lead-title %}<a class="text-white" href="{% url 'progress:index' %}">Progress</a> &raquo; Items Reviewed{% endblock lead-title %}
    {% block lead-content %}Here is your review history and projections.{% endblock lead-content %}

      {% block content %}
      <div class="my-3 p-3 bg-white rounded box-shadow">

        <h4 class="border-bottom border-gray pb-3 mb-4">Items Reviewed</h4>

        <!--{ bar_chart.as_html }}-->
        {% load jchart %}
        {% render_chart 'progress:review_chart' request.user 14 %}

      </div> 
      {% endblock content %}

