    {% load staticfiles %}
    {% block footer-content %}

    <div class="push"></div>
    <footer class="footer text-muted text-center">
      <hr />
      <p class="mb-1">&copy; 2018 Erik Shelley</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="https://github.com/erikshelley/deutschgrammatik/blob/master/README.md">About</a></li>
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="https://github.com/erikshelley/deutschgrammatik/issues">Issues</a></li>
      </ul>
    </footer>

    {% endblock footer-content %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% if 'progress' in request.path %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% else %}
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>

    <script>
    $( document ).ready(function() {
      $('.input-select').select()
      reposition_footer();
    });

    $( window ).resize(function() {
        reposition_footer();
    });

    function reposition_footer() {
      $footer = $('footer');
      footerHeight = $footer.height();
      if ( ($(document.body).height() + footerHeight) < $(window).height()) {
        $footer.css({ position: "absolute" });
      } else {
        $footer.css({ position: "static" });
      }
    }
    </script>
