{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

  <body class="bg-light">

{% include 'top_nav.html' %}

    <main role="main" class="container">

      {% block lead %}
	  <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded box-shadow">
        <div>
          <h3 class="mb-1">{% block lead-title %}Willkommen{% endblock lead-title %}</h3>
          <p class="mb-0 lh-100">
            <span class="d-block lh-125">{% block lead-content %}This site provides German grammar practice for English speakers. Lessons are multiple choice.{% endblock lead-content %}</span>
            {% block lead-subcontent %}
            {% if user.is_authenticated %}
              <small class="lh-100 text-white-50">You are signed in as <b>{{ user.get_full_name|default:user.get_username }}</b>.
              {% if next_review %}{{ next_review }}{% endif %}</small>
            {% else %}
            <small class="lh-100 text-white-50"><a href="{% url 'signup' %}" class="text-warning font-weight-bold">Sign Up</a>
            or <a href="{% url 'login' %}?next={{ request.path }}" class="text-warning font-weight-bold">Sign In</a> 
            to track your progress and use spaced repetition.</small>
          {% endif %}
          {% endblock lead-subcontent %}
          </p>
        </div>
      </div>
      {% endblock lead %}

      {% block content %}
	  <div class="my-3 p-3 bg-white rounded box-shadow">
        <h4 class="pb-2">{% block body-title %}Study Topics{% endblock body-title %}</h4>
        <div class="list-group list-group-flush border-bottom mb-3">
		{% for card in card_deck %}
          {% if card.disabled %}<div class="list-group-item text-muted">
          {% else %}<a class="list-group-item list-group-item-action" id="{{ card.button_id }}" href="{% url card.url %}">
          {% endif %}
            <div class="row text-left align-items-center">
              <div class="col-0">
                <span class="fa fa-{{ card.icon }} fa-lg {% if not card.disabled %}text-primary{% endif %}"></span>
              </div>
              <div class="col lh-125">
                <h5{% if not card.disabled %} class="text-primary"{% endif %}>{{ card.title }}</h5>
                <span>{% autoescape off %}{{ card.text }}{% endautoescape %}</span>
              </div>
              <div class="col-0">
                {% if card.reviews_due %}<span class="badge badge-primary badge-pill">{{ card.reviews_due }}</span>{% else %}<span></span>{% endif %}
              </div>
            </div>
          {% if card.disabled %}</div>{% else %}</a>{% endif %}
		{% endfor %}
        </div>
      </div>
      {% endblock content %}

      {% block extra-content %}
	  <div class="my-3 p-3 bg-white rounded box-shadow">
        <h4 class="pb-2 border-bottom border-gray">Spaced Repetition</h4>
        <p>
        Spaced repetition is an effective way to commit a newly learned piece of knowledge to long term memory.
        Each time you successfully remember something during a review you can wait even longer before the next review.
        If you forget something during a review the delays start over and then they increase at a slower pace for that item.
        </p>
        <p>
        The chart below shows a hypothetical example of something being reviewed successfully on day 1, day 4, and day 13. 
        Notice that the delays between reviews grow longer.
        </p>
        <div class="text-center pb-3">
          <img alt="Spaced Repetition" class="img-fluid border box-shadow" src="{% static 'images/spaced_repetition.png' %}?v=20180628" />
        </div>
        <p>
        This site uses spaced repetition to help you learn German grammar.
        Each time you answer a question you will be asked to rate your performance so that the spacing between reviews can be adjusted.
        For learning simple items like the gender of a noun the process will be familiar to anyone who has used spaced repetition software before.
        For learning rules like that all nouns ending in -keit are feminine the process is slightly different.
        Each time you review the rule you will be presented with a different example, that way you don't just memorize any particular example.
        The goal is for you to memorize the rule.
        </p>
      </div>
      {% endblock extra-content %}

    </main>

    {% include 'footer.html' %}
    {% block scripts %}
    {% endblock scripts %}

  </body>
</html>
