                    <h5 class="text-success">Correct!</h5>
                    <ul class="px-3">
                      <li>The gender for <strong>{{ article }} {{ noun.noun}}</strong> is {{ gender }}.</li>
                      {% if rule %}
                        <li>This is an example of the rule <code class="text-success">{{ rule.long_name }}</code>, which works {{ rule.pretty_percent }} of the time.</li>
                      {% endif %}
                      {% if matches %}
                        {% for match in matches %}
                          <li>This is an example of the rule <code class="text-success">{{ match.rule.long_name }}</code>, which works {{ match.rule.pretty_percent }} of the time.</li>
                        {% endfor %}
                      {% endif %}
                      {% if exceptions %}
                        {% for exception in exceptions %}
                          <li>This is an <span class="text-danger">exception</span> to the rule <code>{{ exception.rule.long_name }}</code>, which works {{ exception.rule.pretty_percent }} of the time.</li>
                        {% endfor %}
                      {% endif %}
                      {% if not rule %}{% if not matches %}{% if not exceptions %}
                        <li>None of the rules apply to this noun.</li>
                      {% endif %}{% endif %}{% endif %}
                    </ul>
                    {% if user.is_authenticated %}
                    <form action="{% url 'deklination:gender_quiz' %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="noun" value="{{ noun.noun }}" />
                      {% if rule %}<input type="hidden" name="rule" value="{{ rule.short_name }}" />{% endif %}
                      <input type="hidden" name="english" value="{{ noun.english }}" />
                      <div class="row">
                        <div class="col pt-2 border-top border-gray text-center"><h5>How hard was that?</h5></div>
                      </div>
                      <div class="row mx-0">
                        <div class="col px-1"><button class="btn btn-md btn-block btn-success my-1" type="submit" name="quality" value="5">No Problem</button></div>
                        <div class="col px-1"><button class="btn btn-md btn-block btn-warning my-1" type="submit" name="quality" value="4">Hesitated</button></div>
                        <div class="col px-1"><button class="btn btn-md btn-block btn-danger my-1" type="submit" name="quality" value="3">Difficult</button></div>
                      </div>
                    </form>
                    {% else %}
                    <a role="button" href="{% url 'deklination:gender_quiz' %}" class="btn btn-md btn-primary">Next Question &raquo;</a>
                    {% endif %}

