    {% extends "deklination/index.html" %}
    {% load staticfiles %}

    {% block lead-title %}Gender Quiz{% endblock lead-title %}
    {% block lead-content %}Choose the correct gender below.{% endblock lead-content %}

      {% block content %}
      <div class="container">

        {% if noun %}
          <div class="row text-center">
            <div class="col-sm">
			  <div class="list-group border" id="list-tab">
                <a class="list-group-item list-group-item-action bg-info text-light font-weight-bold" data-toggle="collapse" href="#list-title" id="list-title-list" aria-controls="title" disabled>
                    Identify Gender{% if review %} ({{ review }}){% endif %}</a>
			    <div class="list-group-item list-group-item-action text-info font-weight-bold bg-light" style="pointer-events: none;" disabled>"{{ noun.english }}"</div>
			    <a class="list-group-item list-group-item-action" data-toggle="collapse" id="der-tab" href=".der" aria-expanded="false" aria-controls="dict der">Der {{ noun.noun }}</a>
			    <a class="list-group-item list-group-item-action" data-toggle="collapse" id="das-tab" href=".das" aria-expanded="false" aria-controls="dict das">Das {{ noun.noun }}</a>
			    <a class="list-group-item list-group-item-action" data-toggle="collapse" id="die-tab" href=".die" aria-expanded="false" aria-controls="dict die">Die {{ noun.noun }}</a>
			  </div>
		    </div>
		  </div>

		  <div class="collapse multi-collapse der" id="der">
		    <div class="row text-center">
		      <div class="col-sm">
                <div class="card border-0">
			      <div class="card-body">
                    {% if noun.gender == 'M' %}{% include 'deklination/correct.html' %}{% else %}{% include 'deklination/incorrect.html' %}{% endif %}
				  </div>
                </div>
			  </div>
			</div>
          </div>
		  <div class="collapse multi-collapse das" id="das">
		    <div class="row text-center">
		      <div class="col-sm">
                <div class="card border-0">
			      <div class="card-body" id="das-card">
                    {% if noun.gender == 'N' %}{% include 'deklination/correct.html' %}{% else %}{% include 'deklination/incorrect.html' %}{% endif %}
				  </div>
                </div>
			  </div>
			</div>
          </div>
		  <div class="collapse multi-collapse die" id="die">
		    <div class="row text-center">
		      <div class="col-sm">
                <div class="card border-0">
			      <div class="card-body" id="die-card">
                    {% if noun.gender == 'F' %}{% include 'deklination/correct.html' %}{% else %}{% include 'deklination/incorrect.html' %}{% endif %}
				  </div>
                </div>
			  </div>
			</div>
          </div>

		  <div class="collapse multi-collapse mt-2 der das die dict" id="dict">
		    <div class="row">
		      <div class="col-sm">
			    <div id="definition-card" class="card card-body pt-0 border-0 text-center">
                  <a id="definition-toggle" href="#">Show Dictionary Entry</a>
                  <div class="embed-responsive embed-responsive-1by1" id="definition-embed" style="display: none;">
                    <iframe class="embed-responsive-item" id="definition-frame" src=""></iframe>
                  </div>
				</div>
			  </div>
			</div>
		  </div>

        {% else %}
          <p>There are no nouns to review.</p>
        {% endif %}

      </div> <!-- /container -->
      {% endblock content %}

    {% block scripts %}
    <script>

    $( document ).ready(function() {
      $('#list-title-list').css('pointer-events','none');
    });

    $('#definition-toggle').on('click', function(e) {
      $('#definition-toggle').hide();
      $('#definition-card').removeClass('border-0');
      $('#definition-card').addClass('bg-light');
      $('#definition-embed').attr('style', "background:url('{% static 'images/loading_trans.gif' %}') top center no-repeat");
      $('#definition-frame').attr('src', 'https://m.dict.cc/deen/?s={{ dict }}');
      reposition_footer();
    });

	$('#dict').on('shown.bs.collapse', function () {
	  $('[data-toggle=collapse]').css('pointer-events','none');
      reposition_footer();
	});

    $('#list-tab a').on('click', function (e) {
      $('#der-tab').addClass('d-none');
      $('#das-tab').addClass('d-none');
      $('#die-tab').addClass('d-none');
      $(this).removeClass('d-none');
      /*$(this).css('user-select', 'none');
      $(this).css('-o-user-select', 'none');
      $(this).css('-moz-user-select', 'none');
      $(this).css('-khtml-user-select', 'none');
      $(this).css('-webkit-user-select', 'none');*/
    });

    /*$('#list-tub a').on('click', function (e) {
      e.preventDefault();
      $(this).tab('show');
      if ( $(this).hasClass('active') ) {
        $(this).addClass('text-primary');
        $(this).addClass('font-weight-bold');
        $(this).addClass('bg-light');
        $(this).removeClass('active');
        $(this).removeClass('d-none');
      }
      $('#list-tab *').removeAttr('href');
      $('#list-tab *').addClass('disabled');
      $('#list-title-list').addClass('text-light');
      $('#list-title-list').addClass('bg-primary');
    });*/

    </script>
    {% endblock scripts %}


