    {% extends "deklination/index.html" %}

    {% block lead-title %}Gender Quiz{% endblock lead-title %}
    {% block lead-content %}Choose the correct gender below or return to the <a class="text-primary font-weight-bold" href="{% url 'deklination:index' %}">Deklination Home Page</a>.{% endblock lead-content %}

      {% block content %}
      <div class="container">

        {% if noun %}
          <div class="row text-center">

            <div class="col-sm py-2">
              <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-title-list" data-toggle="list" href="#list-title" role="tab" aria-controls="title" disabled>
                    Identify Gender{% if review %} ({{ review }}){% endif %}</a>
                <a class="list-group-item list-group-item-action" id="list-der-list" data-toggle="list" href="#list-der" role="tab" aria-controls="der">Der {{ noun.noun }}</a>
                <a class="list-group-item list-group-item-action" id="list-das-list" data-toggle="list" href="#list-das" role="tab" aria-controls="das">Das {{ noun.noun }}</a>
                <a class="list-group-item list-group-item-action" id="list-die-list" data-toggle="list" href="#list-die" role="tab" aria-controls="die">Die {{ noun.noun }}</a>
              </div>
            </div>

            <div class="col-sm py-2">
              <div class="tab-content text-center" id="nav-tabContent">

                <div class="tab-pane fade show active" id="list-title" role="tabpanel" aria-labelledby="list-title-list">
                  <h2>Definition</h2>
                  <p>{% for definition in noun.english_list %}{{ definition|title }}<br />{% endfor %}</p>
                  <p class="text-muted">Ranked #{{ noun.rank }} in popularity out of {{ count }} nouns.</p>
                </div>

                <div class="tab-pane fade" id="list-der" role="tabpanel" aria-labelledby="list-der-list">
                  {% if noun.gender == 'M' %}
                    {% include 'deklination/correct.html' %}
                  {% else %}
                    {% include 'deklination/incorrect.html' %}
                  {% endif %}
                </div>

                <div class="tab-pane fade" id="list-das" role="tabpanel" aria-labelledby="list-das-list">
                  {% if noun.gender == 'N' %}
                    {% include 'deklination/correct.html' %}
                  {% else %}
                    {% include 'deklination/incorrect.html' %}
                  {% endif %}
                </div>

                <div class="tab-pane fade" id="list-die" role="tabpanel" aria-labelledby="list-die-list">
                  {% if noun.gender == 'F' %}
                    {% include 'deklination/correct.html' %}
                  {% else %}
                    {% include 'deklination/incorrect.html' %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

        {% else %}
          <p>There are no nouns to review.</p>
        {% endif %}

      </div> <!-- /container -->
      {% endblock content %}

    {% block scripts %}
    <script>

    //$('#list-der-list').focus();

    $( document ).ready(function() {
      $('#list-title-list').css('pointer-events','none');
    });

    $('#list-tab a').on('click', function (e) {
      e.preventDefault();
      $(this).tab('show');
      $('#list-tab *').removeAttr('href');
      $('#list-tab *').addClass('disabled');
      if ( $(this).hasClass('active') ) {
        $(this).addClass('text-primary');
        $(this).addClass('font-weight-bold');
        $(this).addClass('bg-light');
        $(this).removeClass('active');
      }
      $('#list-title-list').addClass('text-light');
      $('#list-title-list').addClass('bg-primary');
      //footerTop = ($(window).scrollTop()+$(window).height()-footerHeight)+"px";
    })

    </script>
    {% endblock scripts %}


