    {% extends "deklination/index.html" %}
    {% load staticfiles %}

    {% block lead-title %}<a class="text-white" href="{% url 'deklination:index' %}">Deklination</a> &raquo; Gender Quiz{% endblock lead-title %}
    {% block lead-content %}Choose the correct gender below.{% endblock lead-content %}

      {% block content %}
      <div class="my-3 p-3 bg-white rounded box-shadow">

        {% if noun %}
          <h5 id="list-title-list" class="mb-1">{{ noun.noun }} <span class="small text-muted">({{ review }})</span></h5>
          <ul class="fa-ul ml-4"><li class="text-info small"><span class="fa-li fa fa-info-circle fa-lg"></span> {{ noun.english }}</li></ul>
          <div class="list-group list-group-flush border-top border-bottom" id="list-tab">
			<a class="list-group-item list-group-item-action" data-toggle="collapse" id="der-tab" href=".der" aria-expanded="false" aria-controls="dict der">
              <div class="row text-left">
                <div class="col-0"><span class="far fa-circle  fa-lg text-primary mr-2"></span></div>
                <div class="col">Der {{ noun.noun }}</div>
              </div>
            </a>
			<a class="list-group-item list-group-item-action" data-toggle="collapse" id="das-tab" href=".das" aria-expanded="false" aria-controls="dict das">
              <div class="row text-left">
                <div class="col-0"><span class="far fa-circle  fa-lg text-primary mr-2" style="vertical-align: middle;"></span></div>
                <div class="col">Das {{ noun.noun }}</div>
              </div>
            </a>
			<a class="list-group-item list-group-item-action" data-toggle="collapse" id="die-tab" href=".die" aria-expanded="false" aria-controls="dict die">
              <div class="row text-left">
                <div class="col-0"><span class="far fa-circle  fa-lg text-primary mr-2" style="vertical-align: middle;"></span></div>
                <div class="col">Die {{ noun.noun }}</div>
              </div>
            </a>
		  </div>

		  <div class="collapse multi-collapse der" id="der">
		    <div class="row text-center">
		      <div class="col-sm">
                <div class="card border-0">
			      <div class="card-body">
                    {% if noun.gender == 'M' %}{% include 'deklination/correct.html' %}{% else %}{% include 'deklination/incorrect.html' %}{% endif %}
				  </div>
                </div>
			  </div>
			</div>
          </div>
		  <div class="collapse multi-collapse das" id="das">
		    <div class="row text-center">
		      <div class="col-sm">
                <div class="card border-0">
			      <div class="card-body" id="das-card">
                    {% if noun.gender == 'N' %}{% include 'deklination/correct.html' %}{% else %}{% include 'deklination/incorrect.html' %}{% endif %}
				  </div>
                </div>
			  </div>
			</div>
          </div>
		  <div class="collapse multi-collapse die" id="die">
		    <div class="row text-center">
		      <div class="col-sm">
                <div class="card border-0">
			      <div class="card-body" id="die-card">
                    {% if noun.gender == 'F' %}{% include 'deklination/correct.html' %}{% else %}{% include 'deklination/incorrect.html' %}{% endif %}
				  </div>
                </div>
			  </div>
			</div>
          </div>

		  <div class="collapse multi-collapse mt-2 der das die dict" id="dict">
		    <div class="row">
		      <div class="col-sm">
			    <div id="definition-card" class="card card-body pt-0 border-0 text-center">
                  <a id="definition-toggle" href="#">Show Dictionary Entry</a>
                  <div class="embed-responsive embed-responsive-1by1" id="definition-embed" style="display: none;">
                    <iframe class="embed-responsive-item" id="definition-frame" src=""></iframe>
                  </div>
				</div>
			  </div>
			</div>
		  </div>

        {% else %}
          <p>There are no nouns to review.</p>
        {% endif %}

      </div> <!-- /container -->
      {% endblock content %}

    {% block scripts %}
    <script>

    $('#definition-toggle').on('click', function(e) {
      $('#definition-toggle').hide();
      $('#definition-card').removeClass('border-0');
      $('#definition-card').addClass('bg-light');
      $('#definition-embed').attr('style', "background:url('{% static 'images/loading_trans.gif' %}') top center no-repeat");
      $('#definition-frame').attr('src', 'https://m.dict.cc/deen/?s={{ dict }}');
      reposition_footer();
    });

	$('#dict').on('shown.bs.collapse', function () {
	  $('[data-toggle=collapse]').css('pointer-events','none');
      reposition_footer();
	});

    $('#list-tab a').on('click', function (e) {
      $('#der-tab').addClass('d-none');
      $('#das-tab').addClass('d-none');
      $('#die-tab').addClass('d-none');
      $('#der-tab span').removeClass('text-primary');
      $('#das-tab span').removeClass('text-primary');
      $('#die-tab span').removeClass('text-primary');
      $('#der-tab span').addClass('text-muted');
      $('#das-tab span').addClass('text-muted');
      $('#die-tab span').addClass('text-muted');
      $('#der-tab span').removeClass('far');
      $('#das-tab span').removeClass('far');
      $('#die-tab span').removeClass('far');
      $('#der-tab span').addClass('fa');
      $('#das-tab span').addClass('fa');
      $('#die-tab span').addClass('fa');
      $(this).removeClass('d-none');
    });

    </script>
    {% endblock scripts %}


